[Default]
log_dir = /path/to/logs
database = user:password@host:port/database
log_prefix = LogFilePrefix

[Archive]
archive_dir = archive-log-path/

[List]
volume_serial_prefix = prefixes|separated|by|pipes

[Process]
running = process_to_check_if_running

[Rerun]
rerun_script = /path/to/write/rerun/script
ignore = --flags|--to|--ignore

[Unity_Import]
unity_dir = /path/to/unity/files
scan_dbs = scan_db1|scan_db2
state_dbs = state_db1|state_db2

[Scan]
tape_type = Type1|Type2
scan_script = /path/to/scan/script
