[Default]
log_dir: /path/to/logs
sqlite_db: /path/to/sqlite/db
log_prefix: LogFilePrefix

[Archive]
archive_dir: archive-log-path/

[List]
volume_serial_prefix: prefixes|separated|by|pipes

[Process]
running: process_to_check_if_running

[Rerun]
rerun_script: /path/to/write/rerun/script
ignore: --flags|--to|--ignore


