<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Migration Report</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">
</head>
<body>
<h1>{{ report_name }}</h1>
<h2>{{ updated }}</h2>
<form class="form-inline">
  <div class="form-group">
    <label for="myInput">Search</label><input id="myInput" type="text" />
  </div>
</form>
<table id="myTable" class="table table-hover table-bordered table-responsive">
 <thead>
  <tr class="header">
      <th>Storage Group</th>
      <th>File Family</th>
      <th>Media</th>
      <th>First Tape Migrated</th>
      <th>Last Tape Scanned</th>
      <th>Days</th>
      <th>Source Tapes</th>
  </tr>
 </thead>
 <tbody>
 {% for row in result %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
        {% for item in row %}
        <td>
            {% if loop.index == 6 %}{{ (item / 84600)|int }}
            {% else %}
            {{ item }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
  {% endfor %}
 </tbody>
</table>
    <script>
        function filterTable(event) {
            var filter = event.target.value.toUpperCase();
            var rows = document.querySelector("#myTable tbody").rows;

            for (var i = 0; i < rows.length; i++) {
                var firstCol = rows[i].cells[0].textContent.toUpperCase();
                var secondCol = rows[i].cells[1].textContent.toUpperCase();
                if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }

        document.querySelector('#myInput').addEventListener('keyup', filterTable, false);
    </script>
</body>
</html>